.book-detail{
          flex-direction: inherit;
          border: 1px solid #cccccc;
          
}
.book-price{
          flex-direction: column;
}
.book-review{
          margin-top: 5%;
}
.review-form{
          border: 1px solid;
          border-radius: 5px ;
}
.card-author{
          margin-top: 20px;
          padding-left: 15px;
}
.card_price{
          font-size: 25px;
}
.book-header{
          padding: 15px;
}
.btn_sort{
          margin-left: 200px;
}
.btn_page{
          margin-right: 40px;
}
.quantity-picker{
          width: 100%;
          padding-left: 43px;
}
.addToCart{
          margin-top: 50px;
}
.btn-add{
          width: 100%;
}
.qty{
        
          font-size: larger;
}
.form-label
{
          margin-left: 20px;
          font-weight: bold;
}
.form-heading{
          font-size: x-large;
          font-weight: bold;
          margin-left: 20px;
          margin-top: 15px;
}
.btn-submit{
          margin-bottom: 10px;
          width: 80%;
          margin-left: 35px;
}
.btn-add{
          background: #377bc2;
}
.btn_page{
          margin-left: 20px;
}
.show_review{
          margin-top: 15px;
          margin-left: 15px;

}
.card-head{
          margin-left: 15px;
}
.bg-quantity{
          width: 100%;
}
.card-img{
          width: 50%;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          display: -webkit-box;
}
.text-detail{
          margin-top: 10px;
          margin-left: 70px;
}
.item_qty{
          color: black;
}
.btn_qty{
          background-color: #377bc2;
}
.control_qty{
          display: flex;
          justify-content: space-between;
          align-items: center; 
}
