
.link {
color: white;
}
.link-active {
color: black;
background: #377bc2;
border-radius: 5px;
}
.btn-login{
          background-color: #377bc2;
          border-radius: 5px;
          color: white;
}
.username{
          color: white;
          background-color: #377bc2 ;
          border-color: none;
}